<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <mat-icon style="color: white;" mat-icon-button (click)="toggleMenu()" fxHide.gt-sm>menu</mat-icon>
    </div>
    <div>
      <a href="www.prixclient.com"><img (click)="goToAccueil()" src="../assets/img/logo--.png" alt="" fxHide
          fxShow.gt-sm></a>
      <img (click)="goToAccueil()" src="../assets/img/lo-.png" alt="" fxHide.gt-sm>
    </div>
    <span fxHide fxShow.gt-sm class="recherche-area">
      <input matInput #inputValue placeholder="Recherche">
      <button type="button" (click)="search()" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </span>
    <div *ngIf="connected"> Bonjour, <br>{{nomPersonne}} </div>
    <div class="connection-area" *ngIf="!connected" (click)="login()">
      <label> Se connecter</label>
      <mat-icon fxHide fxShow.gt-sm class="material-icons-outlined">login</mat-icon>
    </div>
    <div class="connection-area" (click)="goToPanier()">
      <label fxHide fxShow.gt-sm>Panier</label>
      <mat-icon class="material-icons-outlined">shopping_cart
        <span *ngIf="nbItemPanier > 0" matBadge={{nbItemPanier}} matBadgeSize="small" matBadgeColor="accent"
          matBadgePosition="before"></span>
      </mat-icon>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row fxHide.gt-sm>
    <span class="recherche-area">
      <input matInput #inputValue placeholder="Recherche">
      <button (click)="search()" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row class="seconf-ligne">
    <span *ngFor="let item of listItem">
      <span class="gap"> {{item}}</span>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<body>
  <br><br><br><br><br><br><br><br><br><br>
  <div style="text-align: center; color: rgb(184, 67, 67);">
    <h1> Site en construction </h1>
    <h1>{{test}}</h1>
  </div>
</body>