mat-toolbar {
 position: fixed;
 
  mat-toolbar-row {
    display: flex;
    justify-content: space-between;
    height: 70px;
    background-color:#a71f1f;   
  }

  .recherche-area {
    display: flex;
    justify-content: center;
    flex: 1;

    input {
      width: 90%;
      font-size: large;
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
      border: 1px solid white;
    }

    input:hover {
     border: 1px solid orange;
    }

    button {
      display: flex;
      padding: 5px 20px;
      border: 1px solid orange;
      background-color:orange;
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }
  }

  .connection-area {
    width: auto;
    display: flex;
    margin-right: 10px;
    margin-top: 10px;
  
    label {
      display: flex;
      margin-top: 5px;
      font-size: medium;
      color: white;
      cursor: pointer;
    }
  
    .material-icons-outlined {
      font-size: 40px;
      color:white;
      width: auto;
      height: auto;
      cursor: pointer;
    }
  
    label:hover ~ mat-icon {
      cursor: pointer;
    }
  
    mat-icon:hover {
      color: gray;
    }
  
    .mat-badge-content {
      background: orange;
      color:white;
      font-family: Arial, Helvetica, sans-serif;
    }
  }

  div {
    //border: 2px solid transparent;
    margin-right: 15px;
    margin-top: 10px;
    cursor: pointer;
  }

  div:hover {
    //border: 2px solid transparent;
    background-color: #a14040;
    label+ mat-icon{
      color: rgb(143, 129, 129);
    }
   
  }
  span {
    margin-right: 15px;
  }

  /* Nouvelles règles si la fenêtre fait au plus 1024px de large */
@media screen and (max-width: 1024px)
{
  div {
    //border: 2px solid transparent;
    margin-right: 0px;
    margin-top: 10px;
    cursor: pointer;
  }
  span{
    margin-right: 15px;
  }

  .connection-area {
    //float: right;
    margin-right: 0px;
    //margin-top: 10px;
  }
}
  

  .seconf-ligne {
    padding: 5px 5px;
    background-color: rgb(99, 11, 16);
    height: 30px;
    //display: flex;
    justify-content: flex-start;
  
    .gap {
      padding: 5px 10px;
      font-size: small;
      color:white;
      font-family: Helvetica;
      border: 2px solid transparent;
    }
  
    .gap:hover{
      border: 2px solid #141010;
    }
  }
}